/* Reset some default styles */
body, h2, h3, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;    /* Center-aligns the elements */
}

.title {
    font-size: 24px;         /* Adjust font size */
    font-weight: bold;       /* Make the title bold */
    margin-bottom: 20px;     /* Space between title and form */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s;
}

form:hover {
    transform: scale(1.02);
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

select:focus, input:focus {
    border-color: #3498db;
    outline: none;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

#diabetes-form, #cardio-form {
    margin-top: 20px;
}

@media (max-width: 400px) {
    form {
        width: 90%;
    }
}
